:root {
    --blue-color: #55B0D8;
    --red-color: #F95851;
    --dark-text-color: #333333;
}

* {
	font-family: Verdana;
    color: var(--dark-text-color);
    box-shadow: none !important;
}

textarea {
    width: 90%;
    height: 500px;
}

.CodeMirror {
    border: 1px solid #ddd;
}

li {
    word-break: break-all;
}

pre {
    white-space: pre-wrap;
}

select {
    outline: none;
}

body {
	padding: 3vh 2vw;
}


a:hover {
    text-decoration: none;
}

.header {
    margin-bottom: 20vh;
}

.header-main {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}


.drop-btn {
    background-color: #4CAF50;
    color: white;
    /* padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; */
    width: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
   
}

.drop-option {
    background-color: #003366;
    color: white;
    /* padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; */
    width: 100px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
  
.drop-option:hover {
    background-color: #444444;
}


.show {
    display: block;
}

.sharp-bottom-edges {
    border-bottom-left-radius: 0;
}

.select-depth {
    display: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    background-color: #DDDDDD;
    width: 70px;
    padding-left: 10px;
}

.error-loading {
    margin-top: 20px;
    margin-bottom: 20vh;
}

.search-url {
    max-width: 30vw;
}

.invalid {
    border-color: var(--red-color);
}

#json-wrapper {
    text-align: left;
    display: table;
}

#visualizations, #loading {
    display: none;
}

.website-item {
    display: none;
}

#error-message {
    color: var(--red-color);
    display: none;
}