* {
	font-family: Verdana;
    color: #333333;
    text-align: center;
}

body {
	padding: 3vh 2vw;
}


a:hover {
    text-decoration: none;
}

.header {
    margin-bottom: 20vh;
}


.drop-btn {
    background-color: #4CAF50;
    color: white;
    /* padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; */
    width: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
   
}

.drop-option {
    background-color: #003366;
    color: white;
    /* padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; */
    width: 100px;
}
  
.drop-option:hover {
    background-color: #444444;
}


.show {
    display: block;
}

.select-depth {
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    background-color: #DDDDDD;
    width: 70px;
    padding-left: 10px;
}

.search-url {
    max-width: 30vw;
}